<section class="header">
  <div class="video-background">
    <video autoplay muted loop playsinline>
      <source
        src="../../../../assets/images/Photos/2958506-hd_2048_1080_24fps.mp4"
        type="video/mp4"
      />
    </video>
    <div class="content text-center">
      <h1 class="main-title">
        A SEAMLESS <br />
        REAL ESTATE JOURNEY
      </h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
        vitae nunc ut nibh consequat facilisis Ut condimentum varius est in
        ullamcorper.
      </p>
      <app-qawafel-button [butColors]="'light'" [link$]="'/contact-us'"
        >Contact us</app-qawafel-button
      >
    </div>
  </div>
</section>
