<section class="show-case">
  <div class="qawafelContainer">
    <div
      class="show-case-header d-flex justify-content-between align-items-center"
    >
      <div class="titles">
        <h2 class="subTitle">SHOWCASE</h2>
        <h3 class="title">PREVIOUS WORK</h3>
      </div>
      <app-qawafel-button [butColors]="'dark'" [link$]="''"
        >Explore More</app-qawafel-button
      >
    </div>
    <div class="row g-5 cards">
      <div class="col-4">
        <qawafel-card
          [hover]="true"
          [imgSrc]="'../../../../assets/images/Photos/imgSwiper03.jpg'"
          >NEW<br />
          NARGES</qawafel-card
        >
      </div>
      <div class="col-4">
        <qawafel-card
          [hover]="true"
          [imgSrc]="'../../../../assets/images/Photos/imgSwiper03.jpg'"
          >NEW<br />
          NARGES</qawafel-card
        >
      </div>
      <div class="col-4">
        <qawafel-card
          [hover]="true"
          [imgSrc]="'../../../../assets/images/Photos/imgSwiper03.jpg'"
          >NEW <br />NARGES</qawafel-card
        >
      </div>
    </div>
  </div>
</section>
