<footer>
  <div class="qawafelContainer">
    <div class="row">
      <div class="logo col-4 align-self-end me-auto">
        <img
          src="../../../../assets/images/Logo footer.svg"
          class="w-100"
          alt="qawafil logo"
        />
      </div>
      <div class="menu-list col-4">
        <div class="row r">
          <div class="col-6">
            <ul class="ps-0">
              <li><a routerLink="'/'">ABOUT</a></li>
              <li><a routerLink="'/'">PROJECTS</a></li>
              <li><a routerLink="'/'">PREVIOUS WORK</a></li>
              <li><a routerLink="'/'">CONSTRUCTION WORK</a></li>
            </ul>
          </div>
          <div class="col-6">
            <ul>
              <li><a routerLink="'/'">BLOGS</a></li>
              <li><a routerLink="'/'">CAREERS</a></li>
              <li><a routerLink="'/'">BROCKERS</a></li>
              <li><a routerLink="'/'">CONTACT</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="information col-3 d-flex flex-column justify-content-between">
        <div class="location">
          <p class="paragraph">
            214 A, 90th ST. North Axis, South Academy, Cairo Governorate
          </p>
        </div>
        <div class="social-meida">
          <div class="phone"><span>19793</span></div>
          <div class="icons">
            <ul class="ps-0 d-flex">
              <li>
                <i class="fa-brands fa-linkedin" style="color: #5f757c"></i>
              </li>
              <li>
                <i class="fa-brands fa-facebook" style="color: #5f757c"></i>
              </li>
              <li>
                <i class="fa-brands fa-instagram" style="color: #5f757c"></i>
              </li>
              <li>
                <i class="fa-brands fa-twitter" style="color: #5f757c"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
