<section class="portfolio">
  <div class="qawafelContainer">
    <h2 class="subTitle">PORTFOLIO</h2>
    <h3 class="title">FEATURED PROJECTS</h3>
    <swiper-container
      #swiper
      pagination-type="fraction"
      class="mySwiper swiper-container overflow-visible"
      loop="true"
      speed="1000"
      centered-slides="true"
      effect="coverflow"
      centered-slides="true"
      slides-per-view="auto"
      coverflow-effect-rotate="0"
      coverflow-effect-stretch="0"
      coverflow-effect-depth="100"
      coverflow-effect-modifier="1"
      space-between="300"
      coverflow-effect-slide-shadows="false"
    >
      <swiper-slide class="swiper-slide carousel__slide w-50">
        <div class="image octagon">
          <img
            class="w-100"
            src="../../../../assets/images/Photos/imgSwiper01.png"
            alt=""
          />
        </div>
        <div class="carousel__caption">
          <p class="m-auto text-center">
            new<br />
            narges
          </p>
        </div>
      </swiper-slide>
      <swiper-slide class="swiper-slide carousel__slide w-50">
        <div class="image octagon">
          <img
            class="w-100"
            src="../../../../assets/images/Photos/imgSwiper01.png"
            alt=""
          />
        </div>
        <div class="carousel__caption">
          <p class="m-auto text-center">
            new<br />
            narges
          </p>
        </div>
      </swiper-slide>
      <swiper-slide class="swiper-slide carousel__slide w-50">
        <div class="image octagon">
          <img
            class="w-100"
            src="../../../../assets/images/Photos/imgSwiper03.jpg"
            alt=""
          />
        </div>
        <div class="carousel__caption">
          <p class="m-auto text-center">
            new<br />
            narges
          </p>
        </div>
      </swiper-slide>
      <swiper-slide class="swiper-slide carousel__slide w-50">
        <div class="image octagon">
          <img
            class="w-100"
            src="../../../../assets/images/Photos/imgSwiper03.jpg"
            alt=""
          />
        </div>
        <div class="carousel__caption">
          <p class="m-auto text-center">
            new<br />
            narges
          </p>
        </div>
      </swiper-slide>
      <swiper-slide class="swiper-slide carousel__slide w-50">
        <div class="image octagon">
          <img
            class="w-100"
            src="../../../../assets/images/Photos/imgSwiper03.jpg"
            alt=""
          />
        </div>
        <div class="carousel__caption">
          <p class="m-auto text-center">
            new<br />
            narges
          </p>
        </div>
      </swiper-slide>
    </swiper-container>
    <div class="btn w-100">
      <app-qawafel-button [butColors]="'light'" [link$]="'/portfolio'"
        >Explore More</app-qawafel-button
      >
    </div>
  </div>
</section>
